:root {
    --primary: rgb(255, 103, 77);
    --primary-transparent: rgba(255, 103, 77, 0.25);
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-family: 'Helvetica Neue', sans-serif;
}

body {
    padding: 32px;
    margin: auto;
    max-width: 864px;
    height: 100%;
}

::marker {
    color: var(--primary);
}

::selection {
    background: var(--primary-transparent);
}

.active {
    color: var(--primary);
}

h1, h2 {
    font-weight: inherit;
}

a {
    color: inherit;
    text-decoration-color: var(--primary);

    &:hover {
        color: var(--primary);
    }
}

img {
    pointer-events: none;
}

header {
    display: flex;
    align-items: baseline;
    gap: 24px;
    justify-content: space-between;

    nav > ul {
        display: flex;
        gap: 24px;
        list-style: none;
    }
}

.logo {
    font-size: 1.6em;

    a {
        display: inline-flex;
        gap: 4px;
        text-decoration: none;
    }
}

footer {
    position: sticky;
    top: 100%;
}
