#uploads-table {
    border-collapse: collapse;

    th, td {
        padding: 8px;
        text-align: left;
        width: 200px;

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }
    }
}